/*------------------------------------------------------------------------
# Palettes
------------------------------------------------------------------------*/
.palette-primary {
	background: $palette-primary_4;
	color: $text-contrast-palette-primary_4;

	/*-----------------------------------------------
	## 1
	-----------------------------------------------*/
	a,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	.entry-title,
	.navbar-default .navbar-nav > li > a:hover,
	.navbar-default .navbar-nav > li > a:focus,
	.navbar-default .navbar-nav > .active > a,
	.navbar-default .navbar-nav > .active > a:hover,
	.navbar-default .navbar-nav > .active > a:focus,
	.site-header .widget.well a {
		color: $palette-primary_1;
	}
	hr:after,
	.square-primary,
	.secondary-menu,
	.mod-divider-accent {
		background: $palette-primary_1;
	}
	.mod-alpha h3,
	.mod-alpha h4,
	.sidebar .nav > li > a:focus,
	.sidebar .nav > li > a:hover,
	.mark,
	mark {
		background:	$palette-primary_1;
		color: $text-contrast-palette-primary_1;
	}
	hr::after,
	.gridblock li::before {
		background-color: $palette-primary_1;
	}
	.mod-blockquote,
	blockquote {
		border-left: 3px solid $palette-primary_1;
	}
	#reviews #comments ol.commentlist li .comment-text {
		border: 1px solid $palette-primary_1;
	}

	/*-----------------------------------------------
	## 2
	-----------------------------------------------*/
	.button-primary,
	.site-footer,
	.form-submit .submit,
	input[type="submit"],
	.pager li > a {
		background: $palette-primary_2;
		color: $text-contrast-palette-primary_2;
	}
	hr,
	.wc-gallery .gallery-caption .leader-button button {
		background: $palette-primary_2;
	}
	.site-info,
	.site-info a,
	.attribution,
	.attribution a,
	.site-footer h2,
	.site-footer h3,
	.site-footer p,
	.site-footer a,
	.site-footer a:hover,
	.site-footer a:focus,
	.secondary-menu li a,
	.wc-gallery .gallery-caption p,
	.wc-gallery .gallery-caption .leader-button,
	.site-footer .widget.well,
	.site-footer caption {
		color: $text-contrast-palette-primary_2;
	}
	.mod-alpha p,
	.mod-alpha-2 {
		border-bottom: 5px solid $palette-primary_2;
		border-right: 5px solid $palette-primary_2;
	}
	.mod-divider {
		border-top: 2px solid #333;
	}
	.attribution-theme-mods .link::after {
		border-left: 2px solid $text-contrast-palette-primary_2;
	}		

	/*-----------------------------------------------
	## 3
	-----------------------------------------------*/
	.button-secondary {
		background: $palette-primary_3;
		color: $text-contrast-palette-primary_3;
	}
	.entry-title a,
	.entry-title a:hover {
		color: $text-contrast-palette-primary_3;
	}
	.entry-title:before,
	hr {
		border-top: 1px solid $palette-primary_3;
	}
	.widget-area {
		border: 1px solid $palette-primary_3;
	}
	.entry-title a,
	.gridblock li:before,
	.square-secondary,
	.mod-alpha h3:before,
	.mod-alpha h4:before,
	.mod-alpha-1 h4:before {
		background: $palette-primary_3;
	}
	.menu-social li a,
	.tertiary-menu li a {
		color: $palette-primary_3;
	}
	.panel-default {
		border-color: $palette-primary_3;
	}

	/*-----------------------------------------------
	## 4
	-----------------------------------------------*/
	h2,
	h3,
	.home-h2,
	.site-title a,
	.site-description,
	.testimonial-block,
	.mod-blockquote p,
	.navbar-default .navbar-nav > li > a,
	#secondary-menu .current_page_item a[href],
	.footer-center-menu .current_page_item a[href],
	#reviews #comments ol.commentlist li .comment-text p.meta {
		color: $text-contrast-palette-primary_4;
	}
	&.disabled-footer .site-footer,
	&.disabled-footer .site-footer a,
	.panel-default > .panel-heading,
	.panel-body,
	.panel-footer {
		background: $palette-primary_4;
		color: $text-contrast-palette-primary_4;
	}
	a:hover,
	a:focus,
	.site-header .widget.well,
	.site-header caption {
		color: $text-contrast-palette-primary_4;
	}

	/*-----------------------------------------------
	## 1 - Button & Social Hover
	-----------------------------------------------*/
	input[type="submit"]:hover,
	input[type="submit"]:focus,
	input[type="submit"]:active,
	.button-primary:hover,
	.button-primary:focus,
	.button-primary:active,
	.button-secondary:hover,
	.button-secondary:focus,
	.button-secondary:active,
	.form-submit .submit:hover,
	.form-submit .submit:focus,
	.form-submit .submit:active,
	.pager li > a:hover,
	.pager li > a:focus {
		background:	$palette-primary_1;
		color: $text-contrast-palette-primary_1;
	}
	.menu-social li a:hover,
	.menu-social li a:focus,
	.secondary-menu li.menu-social a:hover,
	.secondary-menu li.menu-social a:focus,
	.tertiary-menu li:after,
	.tertiary-menu li.menu-social a:hover,
	.tertiary-menu li.menu-social a:focus,
	.footer-center-menu li.menu-social a:hover,
	.footer-center-menu li.menu-social a:focus {
		color: $palette-primary_1;
	}

	.dropdown-menu {
		background: $palette-primary_4;
	}
	.navbar-default .navbar-nav .dropdown .dropdown-menu > .active > a,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		background: $palette-primary_1;
		color: $text-contrast-palette-primary_1;
	}
	.navbar-default .navbar-nav {
		> {
			.current-menu-parent > a {
				color: $palette-primary_1;
			}
			.open > a {
				background: $palette-primary_4;
			}
			.open .dropdown-menu > li > a {
				color: $text-contrast-palette-primary_4;
			}	
			.active > a {
				background: none;
				color: $palette-primary_1;
				&:hover, &:focus {
					background: none;
					color: $palette-primary_1;
				}
			}
			li > a {
				&:hover, &:focus {
					background: none;
					color: $palette-primary_1;
				}
			}
		}
	}
	
	/* sm */
	@media (min-width: 768px) {
		.dropdown .active, ul.dropdown-menu {
			background: $palette-primary_1;
			color: $text-contrast-palette-primary_1;
		}
		.navbar-default .navbar-nav {
			.open > a {
				background: $palette-primary_1;
				color: $text-contrast-palette-primary_1;
				&:hover, &:focus {
					background: $palette-primary_1;
					color: $text-contrast-palette-primary_1;
				}
			}
			.dropdown .dropdown-menu > {
				li > a {
					color: $text-contrast-palette-primary_1;
					&:hover, &:focus {
						background: $palette-primary_2;
						color: $text-contrast-palette-primary_2;
					}
				}
			}
		}
	}

	#tertiary-menu .current_page_item a[href],
	#menu-social .current_page_item a[href],
	#tertiary-menu .menu-item a[href]:hover,
	#menu-social .menu-item a[href]:hover,
	#tertiary-menu .menu-item a[href]:focus,
	#menu-social .menu-item a[href]:focus,
	.footer-center-menu li:after {
		color: $palette-primary_2;
	}
	#secondary-menu .current_page_item a[href],
	.footer-center-menu .current_page_item a[href] {
		color: $palette-primary_4;
	}
}

/*------------------------------------------------------------------------
# Additional Body Classes
------------------------------------------------------------------------*/
.palette-primary.mce-content-body {
	background: $palette-primary_4;
	color: $text-contrast-palette-primary_4;
}
.palette-primary.woocommerce div.product .stock.out-of-stock {
	color: $palette-primary_1;
}
.palette-primary.woocommerce div.product .stock {
	color: $text-contrast-palette-primary_4;
}
